*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    width: 100%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
[class*="col-"]{
    float: left;
}
/* 12 Colonne */
.col-1{
    width: calc((100% / 12) * 1);
}
.col-2{
    width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
}
.col-4{
    width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
}
.col-10{
    width: calc((100% / 12) * 10);
}
.col-11{
    width: calc((100% / 12) * 11);
}
.col-12{
    width: calc((100% / 12) * 12);
}
/* Offset */
.col-1-offset{
    margin-left: calc((100% / 12) * 1);
}
.col-2-offset{
    margin-left: calc((100% / 12) * 2);
}
.col-3-offset{
    margin-left: calc((100% / 12) * 3);
}
.col-4-offset{
    margin-left: calc((100% / 12) * 4);
}
.col-5-offset{
    margin-left: calc((100% / 12) * 5);
}
.col-6-offset{
    margin-left: calc((100% / 12) * 6);
}
.col-7-offset{
    margin-left: calc((100% / 12) * 7);
}
.col-8-offset{
    margin-left: calc((100% / 12) * 8);
}
.col-9-offset{
    margin-left: calc((100% / 12) * 9);
}
.col-10-offset{
    margin-left: calc((100% / 12) * 10);
}
.col-11-offset{
    margin-left: calc((100% / 12) * 11);
}
/* XS 767px */
@media screen and (max-width:767px) {
    .col-xs-1{
        width: calc((100% / 12) * 1);
    }
    .col-xs-2{
        width: calc((100% / 12) * 2);
    }
    .col-xs-3{
        width: calc((100% / 12) * 3);
    }
    .col-xs-4{
        width: calc((100% / 12) * 4);
    }
    .col-xs-5{
        width: calc((100% / 12) * 5);
    }
    .col-xs-6{
        width: calc((100% / 12) * 6);
    }
    .col-xs-7{
        width: calc((100% / 12) * 7);
    }
    .col-xs-8{
        width: calc((100% / 12) * 8);
    }
    .col-xs-9{
        width: calc((100% / 12) * 9);
    }
    .col-xs-10{
        width: calc((100% / 12) * 10);
    }
    .col-xs-11{
        width: calc((100% / 12) * 11);
    }
    .col-xs-12{
        width: calc((100% / 12) * 12);
    }  
    /* Offset */
    .col-1-xs-offset{
        margin-left: calc((100% / 12) * 1);
    }
    .col-2-xs-offset{
        margin-left: calc((100% / 12) * 2);
    }
    .col-3-xs-offset{
        margin-left: calc((100% / 12) * 3);
    }
    .col-4-xs-offset{
        margin-left: calc((100% / 12) * 4);
    }
    .col-5-xs-offset{
        margin-left: calc((100% / 12) * 5);
    }
    .col-6-xs-offset{
        margin-left: calc((100% / 12) * 6);
    }
    .col-7-xs-offset{
        margin-left: calc((100% / 12) * 7);
    }
    .col-8-xs-offset{
        margin-left: calc((100% / 12) * 8);
    }
    .col-9-xs-offset{
        margin-left: calc((100% / 12) * 9);
    }
    .col-10-xs-offset{
        margin-left: calc((100% / 12) * 10);
    }
    .col-11-xs-offset{
        margin-left: calc((100% / 12) * 11);
    }
}
/* MD 768px - 991px */
@media screen and (min-width:768px) and (max-width:991px) {
    .col-md-1{
        width: calc((100% / 12) * 1);
    }
    .col-md-2{
        width: calc((100% / 12) * 2);
    }
    .col-md-3{
        width: calc((100% / 12) * 3);
    }
    .col-md-4{
        width: calc((100% / 12) * 4);
    }
    .col-md-5{
        width: calc((100% / 12) * 5);
    }
    .col-md-6{
        width: calc((100% / 12) * 6);
    }
    .col-md-7{
        width: calc((100% / 12) * 7);
    }
    .col-md-8{
        width: calc((100% / 12) * 8);
    }
    .col-md-9{
        width: calc((100% / 12) * 9);
    }
    .col-md-10{
        width: calc((100% / 12) * 10);
    }
    .col-md-11{
        width: calc((100% / 12) * 11);
    }
    .col-md-12{
        width: calc((100% / 12) * 12);
    }  
    /* Offset */
    .col-1-md-offset{
        margin-left: calc((100% / 12) * 1);
    }
    .col-2-md-offset{
        margin-left: calc((100% / 12) * 2);
    }
    .col-3-md-offset{
        margin-left: calc((100% / 12) * 3);
    }
    .col-4-md-offset{
        margin-left: calc((100% / 12) * 4);
    }
    .col-5-md-offset{
        margin-left: calc((100% / 12) * 5);
    }
    .col-6-md-offset{
        margin-left: calc((100% / 12) * 6);
    }
    .col-7-md-offset{
        margin-left: calc((100% / 12) * 7);
    }
    .col-8-md-offset{
        margin-left: calc((100% / 12) * 8);
    }
    .col-9-md-offset{
        margin-left: calc((100% / 12) * 9);
    }
    .col-10-md-offset{
        margin-left: calc((100% / 12) * 10);
    }
    .col-11-md-offset{
        margin-left: calc((100% / 12) * 11);
    }
}
/* LG 992px */
@media screen and (min-width:992px){
    .col-lg-1{
        width: calc((100% / 12) * 1);
    }
    .col-lg-2{
        width: calc((100% / 12) * 2);
    }
    .col-lg-3{
        width: calc((100% / 12) * 3);
    }
    .col-lg-4{
        width: calc((100% / 12) * 4);
    }
    .col-lg-5{
        width: calc((100% / 12) * 5);
    }
    .col-lg-6{
        width: calc((100% / 12) * 6);
    }
    .col-lg-7{
        width: calc((100% / 12) * 7);
    }
    .col-lg-8{
        width: calc((100% / 12) * 8);
    }
    .col-lg-9{
        width: calc((100% / 12) * 9);
    }
    .col-lg-10{
        width: calc((100% / 12) * 10);
    }
    .col-lg-11{
        width: calc((100% / 12) * 11);
    }
    .col-lg-12{
        width: calc((100% / 12) * 12);
    }  
    /* Offset */
    .col-1-lg-offset{
        margin-left: calc((100% / 12) * 1);
    }
    .col-2-lg-offset{
        margin-left: calc((100% / 12) * 2);
    }
    .col-3-lg-offset{
        margin-left: calc((100% / 12) * 3);
    }
    .col-4-lg-offset{
        margin-left: calc((100% / 12) * 4);
    }
    .col-5-lg-offset{
        margin-left: calc((100% / 12) * 5);
    }
    .col-6-lg-offset{
        margin-left: calc((100% / 12) * 6);
    }
    .col-7-lg-offset{
        margin-left: calc((100% / 12) * 7);
    }
    .col-8-lg-offset{
        margin-left: calc((100% / 12) * 8);
    }
    .col-9-lg-offset{
        margin-left: calc((100% / 12) * 9);
    }
    .col-10-lg-offset{
        margin-left: calc((100% / 12) * 10);
    }
    .col-11-lg-offset{
        margin-left: calc((100% / 12) * 11);
    }
}
